.tool {
  .el-collapse-item__content {
    padding-bottom: 0;
  }
}
.nav-tabs-content {
  .el-tabs__nav {
    height: 240px;
    width: 50px;
    .el-tabs__item {
      height: 80px;
      padding: 0;
    }
  }
}
.select-city {
  .el-tabs__content {
    padding: 0 20px;
    .el-tabs__item {
      padding: 0 15px;
    }
  }
}
.search-poi {
  .el-card__body {
    padding: 0;
  }
}
